#notCompatible {
    display: none;
}
h3 {
    padding: 0px 5px;
}
#newItem {
    margin-bottom: 10px;
}
#newItem form {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#newItem form input {
    margin: 0px;
    border: 0px;
    padding: 5px;
    height: 40px;
}
#newItem form input#itemName {
    width: 70%;
}
#newItem form input#itemCount {
    width: 10%;
}
#newItem form input#addToList {
    width: 20%;
    background-color: darkcyan;
    color:white;
    font-size: 18px;
}
#newItem form input#addToList:hover {
   background-color: #005959;
}
#list ul {
    padding: 0px;
}
#list ul li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    overflow: hidden;
}
#list ul li:hover {
    background-color: lightgrey;
}
#list ul li .itemCount{
    width: 15%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
#list ul li .itemName{
    display: inline-block;
    width: 65%;
}
#list ul li input{
    display: inline-block;
    float:right;
    height: 30px;
    border: 0px;
    width: 20%;
    background-color: darkcyan;
    font-size: 18px;
    color: white;
}
#list ul li input:hover {
    background-color: #005959;
}
#clearList {
    display: inline-block;
    float: right;
    height: 30px;
    border: 0px;
    width: 20%;
    text-align: center;
    background-color: #B00000 ;
    font-size: 18px;
    color:white;
}
#clearList:hover {
    background-color: #900000 ;
}
#footer {
    clear:both;
    text-align: center;
}
#footer a, #footer a:visited, #footer a:active {
    color: gray;
}